/* .movieRow {
    position: relative;
}

.movieRow h5 {
    margin-bottom: 0;
}

.movieRow--listarea {
    overflow-x: hidden;
    margin-left: -8px;
}

.movieRow--list {
    transition: all ease 0.5s;
}

.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
    margin-left: -8px;
    margin-top: 12px;
    border-radius: 10px;
}

.displayNone {
    display: none;
}

.movieRow--right {
    right: 0;
}

.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}

@media (max-width:760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    }
} */